body {
    text-align: center;
  }
  
  .li {
    text-align: center;
  }
  .list-group-item {
    background-color: lightblue;
  }
  
  .btn-primary {
    height: 60px;
    width: 300px;
    display: inline-block;
    padding: 10px 70px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    margin: 4px 2px;
  }
  
  
  
  