body {
  text-align: center;
  background-color: rgb(242, 252, 252);
}

.li {
  text-align: center;
}

.list-group-item {
  background-color: lightblue;
}

.btn-primary {
  height: 60px;
  width: 300px;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  margin: 4px 2px;
}

p {
  font-size: 24px;
}

.modal-content {
  background-color: rgb(242, 252, 252);
}